{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <div class="w3-panel w3-border">
        <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
          <div class="w3-panel w3-border-bottom">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
              </div>
          </div>

          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
        </div>
    
    {% endfor %}
{% endblock content %}
